@import '../../Style/palette';

.Nos1000Raisons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw 0 10vw;

  .title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, red, violet, blue, green, indigo, red, violet, blue, green, indigo);
  }

  .gallery {
    margin-top: 1rem;
  }
}