/*
@import './palette.scss';

// MIXINS
//########################################

// z-depth official shadows
// (https://www.polymer-project.org/components/paper-elements/demo.html#paper-shadow)

@mixin z-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

@mixin z-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@mixin z-3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

@mixin z-4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17);
}

@mixin z-5 {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}


// DEFAULT CARD AND ELEMENTS
//########################################

// basic card block
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  @include z-1;

  // hover status
  &:hover {
    cursor: pointer;
  }
}

// default card image element
.card__image {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 144px;
  overflow: hidden;
  opacity: 1;
}

// default card title element
.card__title {
  font-size: 24px;
  color: #FFF;
  position: relative;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


// default card text element
.card__text {
  font-size: 14px;
  display: block;
  padding: 16px;
  line-height: 1.6;
  color: #000;
  overflow: hidden;
}

// default card action bar element
.card__action-bar {
  border-top: 1px solid #E0E0E0;
  height: 52px;
}

// default card button element
.card__button {
  position: relative;
  display: inline-block;
  line-height: 52px;
  padding: 0 16px;
  color: $background-color;
}
*/
