@import './palette';

.Page {

  &__title {
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;

    & > h1 {
      font-size: 2.5rem;
      margin: 0;
    }

    & > h2 {
      font-size: 1.5rem;
      margin: 0;
      font-style: italic;
    }
  }

  .Section {
    padding: 1rem 10vw 1rem 10vw;

    &:nth-of-type(odd) {
      background-color: $background-color;
    }

    &:nth-of-type(even) {
      background-color: lighten($background-color, 10%);
    }


    &__title {
      text-align: center;

      & > h1 {
        font-size: 2rem;
        margin: 0;
      }

      & > h2 {
        font-size: 1.5rem;
        margin: 0;
        font-style: italic;
      }
    }
  }
}
