@import '../../Style/palette.scss';

.Intro {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.Intro-video {
  width: 400px;
  height: 400px;
}

.Intro-manifeste {
  flex-grow: 1;
  flex-basis: 344px;
  width: 400px;
  height: auto;

  &__image {
    height: 144px;
    overflow: hidden;
    position: relative;

    > img {
      top: -120px !important;
    }
  }

  &__sign {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .sign__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $background-color !important;

    & > i {
      margin-right: 5px;
    }

    &:hover {
      background-color: $hoover;
      color: white;
    }
  }
}

.Intro-manifeste__texte {
  color: black;
}

.Manifeste > p {
  margin-bottom: 7px !important;
}