@import '../../Style/palette.scss';

.Intro {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.card-title {
  font-size: 22px !important;
}

.Intro-video {
  margin-top: 0;
  margin-bottom: 0;
}

.Intro-networks,
.Intro-resources,
.Intro-comites {
  flex-grow: 1;
  color: $secondary-color;
  flex-wrap: wrap;
  max-width: 390px;
}

.Intro-comites {
  margin-top: 0px;
}

.logos {
  display: flex;
  flex-direction: column;
}
.resources.card-action {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: $background-color;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: white !important;
  }

  & > svg,
  & > .material-icons {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.social-networks.card-action {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #2196F3;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #2196F3;
    color: white !important;
  }

  & > svg,
  & > .material-icons {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.Intro-manifeste {
  flex-grow: 1;
  height: auto;
  margin-top: 0;
  text-align: justify;

  &__image {
    height: 144px;
    overflow: hidden;
    position: relative;

    > img {
      top: -120px !important;
    }
  }

  .sign__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: $background-color;
      color: white;
    }

    & > i {
      margin-right: 20px;
    }
  }
}

.Intro-manifeste__texte {
  color: black;
}

.Manifeste > p {
  margin-bottom: 7px !important;
}

.col-three {
  margin: 0 0 0 5px;
}

.timeline-Widget.timeline-Widget--edge {
  border-radius: 2px !important;
}

.Subscribe-newsletter {
  color: $secondary-color;
}