@import '../../Style/palette.scss';

.Intro {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.Intro-video {
  width: 400px;
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.Intro-networks {
  color: $background-color;

  .logos {
    display: flex;
    justify-content: space-evenly;
  }
  .social-networks > svg,
  .social-networks > span {
    font-size: 150px;
    text-decoration: none;
    color: $background-color;

    &:hover {
      color: black;
    }
  }
}

.Intro-manifeste {
  flex-grow: 1;
  flex-basis: 344px;
  width: 400px;
  height: auto;
  margin-top: 0px;

  &__image {
    height: 144px;
    overflow: hidden;
    position: relative;

    > img {
      top: -120px !important;
    }
  }

  &__sign {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .sign__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $background-color !important;

    & > i {
      margin-right: 5px;
    }
  }
}

.downloads {
  display: flex;
  color: $background-color !important;
}

.Intro-manifeste__texte {
  color: black;
}

.Manifeste > p {
  margin-bottom: 7px !important;
}

.col-three {
  margin: 0px 0 0 5px;
}

.timeline-Widget.timeline-Widget--edge {
  border-radius: 2px !important;
}
