@import '../../Style/palette';

.Comite {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__title {
        padding: 2rem;
    }

    .contact > a {
        color: white;
        text-decoration: none;
    }

    .contact > span:hover {
        color: $secondary-color !important;
    }
}